body{
    background: #1e2430;
}
main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.advice-div{
    background: #313a49;
    width: 450px;
    height: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
    
}
.advice-div p {
    font-weight: 600; 
    font-size: 18px;
    letter-spacing: 3px; 
    color: #52fea7;
    margin-top: 50px;
}